body {
    background-color: #f4f4f9;
    display: flex;
    justify-content: center;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.login-container {
    background: white;
    margin-top: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: fit-content;
    width: 400px;
    text-align: center;
}

h2 {
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 8px;
    margin-top: 3px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100%;
    margin-top: 5px;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}

/*SUCCESS MSG STYLING*/
#success-message {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    text-align: center;
    background-color: #f9f9f9;
    padding: 20px;
    box-sizing: border-box;
}

/* Title text */
.titletext {
    color: #4caf50;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}


.checkmark-circle {
    position: relative;
    width: 60px;
    height: 60px;
    margin: 0 auto;
    margin-bottom: 10px;
}

.circle-icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #e0f7e9;
    border: 5px solid #4caf50;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    animation: grow-circle 0.3s ease-out;
}

.checkmark-icon {
    position: absolute;
    left: 25%;
    top: 37%;
    width: 50%;
    height: 12px;
    border: solid #4caf50;
    border-width: 0 0 5px 5px;
    transform: rotate(-45deg) scale(0);
    animation: draw-checkmark 0.1s ease-out 0.3s forwards;
}

@keyframes grow-circle {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
}

@keyframes draw-checkmark {
    from {
        transform: rotate(-45deg) scale(0);
    }

    to {
        transform: rotate(-45deg) scale(1);
    }
}

.error-message{
    font-size: 0.85rem;
    color: red;
    margin-left: 1%;
    text-align: left;
}

.form-subtitle{
    font-size: 0.7rem;
    opacity: 0.5;
    margin-left: 1%;
    margin-top: 1.5%;
    margin-bottom: -2.5%;
}

a{
    text-decoration: none;
    color: inherit;
}

#sub-login {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 30px;
    font-size: 14px;
  }
  
/* Ensure checkbox and text are aligned horizontally */
#remember-label {
    display: flex;
    align-items: center;
    cursor: pointer;
    white-space: nowrap;
  }
  
  #remember-label input {
    margin-right: 5px; /* Space between checkbox and text */
  }
  
