body{
    margin: 20px;
    padding: 10px;
    color: var(--blue-0);
    height: 100vh !important;
}

main{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

main div, main form{
    margin: 10px;
    padding: 10px;
}

#generate-code-btn, #submit-code-btn{
    background-color: var(--orange-0);
    border: none;
    padding: 5px;
    font-size: larger;
    font-weight: bold;
}

#submit-code-btn{
    display: none;
}

.enter-game, .create-new-game{
    border: 5px solid var(--pink-0);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.create-new-game{
    padding: 30px;
}

.enter-game .code-input{
    display: flex;
    flex-direction: row;

    input{
        height: 50px;
        width: 40px;

        border: none;
        border-bottom: 3px solid var(--blue-0);
        margin: 5px;
        padding: 5px;
        text-align: center;
        font-size: xx-large;
        color: var(--orange-0);


        background-color: hsla(0, 0%, 0%, 0);
    }
}

#error-container{
    color: red;
}

section.room-navigator{
    display: none;
    margin: 20px;
    padding: 10px;
    border: 2px solid var(--pink-0);

    flex-direction: column;
    align-items: center;
    justify-content: center;
}

section.room-navigator *{
    margin: 10px;
}

.left-navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 40px;
    height: 100vh;
    background: linear-gradient(170deg, rgba(99,11,117,1) 1%, rgba(60, 15, 108, 0.952) 40%, rgb(38, 13, 62) 100%);
    display: flex;
    align-items: end;
    justify-content: center;
    box-shadow: 5px 0 5px rgba(0, 0, 0, 0.2);
    margin: 0 !important;
}

.navbar-icons {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    height: 95%;
}

.profile-icon {
    width: 5.5vh;
    height: 5.5vh;
    background-color: #564caf;
    /* Icon background color */
    color: #fff;
    /* Text color */
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    /* Makes it a circle */
    text-transform: uppercase;
    /* Capitalizes the letter */
    border: 2px solid rgba(255, 255, 255, 0.7);
    padding: 0 !important;
    cursor: pointer;
    margin-bottom: auto;
  }

.navbar-icons i{
    color: white;
    opacity: 0.4;
    font-size: 23px;
    cursor: pointer;
}

.modal {
    display: flex; /* Ensure the modal uses flex layout */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: var(--purple-0);
    align-items: center;
    justify-content: center;
    opacity: 0; /* Hidden by default */
    pointer-events: none; /* Prevent interaction when hidden */
    transition: opacity 0.3s ease-in-out;
    z-index: 1000;
}

.modal.show {
    opacity: 1; /* Fully visible */
    pointer-events: auto; /* Enable interaction */
}

.modal-content {
    background-color: #fff;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    width: 80%;
    max-width: 400px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    transform: translateY(-20px); /* Slide-in effect start */
    transition: transform 0.3s ease-in-out;
}

.modal.show .modal-content {
    transform: translateY(0); /* Slide into place */
}

.modal-content h2{
    border-bottom: 2px solid var(--purple-0);
    width: 40%;
    margin: 0 auto;
}

.close {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 1.5rem;
    color: #333;
    cursor: pointer;
    transition: color 0.3s ease;
}

.close:hover {
    color: var(--pink-0);
}

button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: var(--orange-0);
    color: white;
    font-weight: bold;
    transition: background-color 0.3s ease;
}
button:hover {
    background-color: var(--blue-0);
}

.btn-container{
    display: flex;
    justify-content: space-between;
}

.edit{
    background: transparent;
    color: rgba(0, 0, 0, 0.5);
    font-size: 15px;
    padding: 5px;
}

.modal a{
    color: inherit;
}

