:root{
    /* CSS HSL */
    --purple-0: #630b75;
    --purple-1: #1a0840;
    --purple-2: #12061e;
    --blue-0: #16e4f3;
    --pink-0: #e40c86;
    --orange-0: #f29131;
    --green-0: #e7ff2f;
}

*{
    font-family: "Audiowide", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body{
    background: rgb(99,11,117);
    background: linear-gradient(170deg, rgba(99,11,117,1) 1%, rgba(26, 8, 64, 0.952) 40%, rgba(18, 6, 30, 1) 100%);
    background-repeat: no-repeat;
    height: 100vw;
}

.form-container{
    background: linear-gradient(170deg, rgb(16, 179, 191) 1%, rgba(12, 150, 148, 0.952) 40%, rgb(12, 60, 56) 100%);
    border-radius: 10px;
    padding: 10px;
    color: rgba(255, 255, 255, 0.9) !important;
    transform: translateY(-20px);
    /* Slide-in effect start */
    transition: transform 0.3s ease-in-out;
}
.form-container a{
    color: inherit;
    transition: color 0.2s ease-in-out;
}
.form-container a:hover{
    color: var(--pink-0);
}
.form-input{
    font-weight: 400;
    color: #495057;
    background-color: #fff;
    border: none;
    border-radius: 0.25rem;
    -webkit-transition: background-color 0.2s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: background-color 0.2s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    -o-transition: background-color 0.2s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: background-color 0.2s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: background-color 0.2s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}
.form-input:focus{
    color: #495057;
    background-color: #fff;
    outline: 0;
}
.form-input::placeholder{
    color: #6c757d;
    opacity: 0.6;
}
.form-input:disabled{
    background-color: rgba(233, 236, 239, 0.7);
    opacity: 1;
}
.submit-form{
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: var(--orange-0);
    color: white;
    font-weight: bold;
    transition: background-color 0.3s ease;
}
.submit-form:hover {
    background-color: var(--pink-0);
}
#links a{
    text-decoration: none;
    color: inherit;
}