body {
    display: flex;
    justify-content: center;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

/*HOME PAGE STYLING*/
#index-container > h1{
    text-align: center;
    padding: 30px 60px;
    color: var(--blue-0);
    font-size: 2.5rem;
}
#main-content{
    padding: 0 20px 15px;
    margin: 0px auto 20px;
    width: 70%;
    border: 5px solid var(--pink-0);
    height: fit-content;
}
#main-content h1{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
    color: var(--orange-0);
    font-size: 2rem;
}
#main-content h2{
    color: var(--green-0);
    font-size: 1.3rem;
    margin: 0;
}
#main-content li{
    color:thistle;
    margin-bottom: 15px;
}
#main-content ul{
    margin-bottom: 30px;
}

#links{
    display: flex;
    justify-content: space-around;
    margin: 0 80px;
}
#links a{
    background-color: var(--orange-0);
    padding: 10px;
    transition: background-color 0.3s ease;
}
#links a:hover{
    background-color: #ce6700;
}

/*LOGIN AND REGISTER PAGE STYLING*/
.login-container {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: fit-content;
    width: 350px;
    text-align: center;
}

h2 {
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 96%;
    padding: 8px;
    margin-top: 3px;
    border-radius: 5px;
}

button {
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}

#success-message {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    text-align: center;
    background-color: #f9f9f9;
    padding: 20px;
    box-sizing: border-box;
}

.titletext {
    color: #4caf50;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}


.checkmark-circle {
    position: relative;
    width: 60px;
    height: 60px;
    margin: 0 auto;
    margin-bottom: 10px;
}

.circle-icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #e0f7e9;
    border: 5px solid #4caf50;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    animation: grow-circle 0.3s ease-out;
}

.checkmark-icon {
    position: absolute;
    left: 25%;
    top: 37%;
    width: 50%;
    height: 12px;
    border: solid #4caf50;
    border-width: 0 0 5px 5px;
    transform: rotate(-45deg) scale(0);
    animation: draw-checkmark 0.1s ease-out 0.3s forwards;
}

@keyframes grow-circle {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
}

@keyframes draw-checkmark {
    from {
        transform: rotate(-45deg) scale(0);
    }

    to {
        transform: rotate(-45deg) scale(1);
    }
}

.error-message{
    font-size: 0.85rem;
    color: red;
    margin-left: 1%;
    text-align: left;
}

.form-subtitle{
    font-size: 0.7rem;
    opacity: 0.6;
    margin-left: 1%;
    margin-top: 1.5%;
    margin-bottom: -2.5%;
}


#sub-login {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 30px;
    font-size: 14px;
  }
#sub-login a{
    margin-top: -1.25%;
}
  
/* Ensure checkbox and text are aligned horizontally */
#remember-label {
    display: flex;
    align-items: center;
    cursor: pointer;
    white-space: nowrap;
  }
  
  #remember-label input {
    margin-right: 5px; /* Space between checkbox and text */
    color: var(--orange-0);
  }
  
  #confirmMessage{
    color: var(--green-0); 
    text-align: center;
    margin-top: 25px;
  }
